.burgermenu {
    display: flex;
    justify-content: end;
    align-self: center;
    padding: 10px;
    -position: fixed;
    z-index: 100;
    width: 100%;
    max-width: 360px;
}

.burgermenu i {
    font-size: 2em;
    justify-self: flex-start;
    align-self: end;
    margin-right: 30px; /* ændring ift Figma (icon uden border)- fungerer bedre visuelt og godkendt af kunden */
}

.burgermenu i.fa-xmark {
    transform: scale(1.3);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffe6e6; /* Baggrundsfarve */
    z-index: 10;
    gap: 0; /* Afstand mellem elementer */
    color: #000; /* Tekstfarve */
    font-size: 1.5rem; /* Større tekst */
    transition: all 0.3s ease;
}

.menu.menu--footer {
    display: none;
}

.menu.show {
    display: flex;
}

.menu li {
    z-index:1000;
    height: 60px;
}

.menu li.dropdown {
    height: 60px;
    align-items: flex-start;

}

.menu a.current::after {
    display: none;
}

/*  
.burgermenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.burgermenu span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;  Ændr farven efter behov 
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

 .burgermenu.open span:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.burgermenu.open span:nth-child(2) {
    opacity: 0;
}

.burgermenu.open span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
} */