/* darkmode */

:root {
    color-scheme: light dark;
    --dark-color: hsl(0 0% 10%);
    --light-color: hsl(0, 0%, 97%); 

}

/* styling af attribut med []*/

[data-dark="true"] {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

[data-dark="false"] {
    color-scheme: light;
}

html, .darkmode {
    color: light-dark(var(--dark-color), var(--light-color)); 
    background-color: light-dark(var(--light-color), var(--dark-color));
}

[data-dark="true"] {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

[data-dark="true"] .genre__name {
    color: var(--genre-color);
}

[data-dark="true"] h1, [data-dark="true"] h3 {
    color: var(--white-color);
}

[data-dark="true"] p {
    color: var(--p-color);
}

[data-dark="true"] .movie-link {
    color: var(--link-color);
}

