@import url(colors.css);
@import url(texttypes.css);

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    margin-left: 24px;
}

.header__menu-icon {
    width: 2em;
    grid-column: 1; 
}

h1 {
    grid-column: 2; 
}

/* ekstra */

.showing {
  width: 100%;
  margin: 0 auto;
  margin-left: 24px; 
}
.showing h2 {
  display: inline-block;
  margin-right: 10px;
  
}
.movies-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

article {
  margin-left: 24px;
  width: 143px;
  text-align: left;
}
img {
  width: 100%;
  border-radius: 5px;
}

i {
  color: var(--star-color);
  width:0.75rem; 
  height:0.75rem; 
  margin-right:0.25rem; 
  margin-top: 0.094rem;
  margin-bottom: 0.094rem;
}

.popular-movie__article {
  display: flex;
}

.popular-movie__content {
  width: 300px;
}

.popular h2 {
  display: inline-block;
  margin-left: 24px;
  margin-bottom: 8px;
}

.popular img {
  width: 85px;
  margin-bottom: 16px;
  margin-right: 16px;
}

.popular-movie__content h3 {
  margin-bottom: 8px;
}

i.fa-clock{
  color: var(--black-color);
  margin-top: 8px;
}

.genre {
  color: var(--genre_font-color);
  background-color: var(--genre-color);
  margin-bottom: 8px;
  margin-top: 8px;
}

.runtime {
  color: var(--black-color)
}

.movie-link {
  cursor: pointer;
}

  /*footer */

  footer {
    height: 60px;
    align-content: center;
    margin-left: 24px;
  }

  .footer__content {
    display: flex;
    flex-direction: row;
    gap: 101px;
  }

 .footer__menu-icon2, .footer__menu-icon3  {
    width: 1.313rem;
  }
  .footer__menu-icon1 {
    width: 2.3rem;
    margin-top: 10px;
  }