@import url(colors.css);
@import url(texttypes.css);

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}

.header__menu-icon {
    width: 2em;
    grid-column: 1; 
}

h1 {
    grid-column: 2; 
}

.darkmode {
    margin-top: 10px;
    grid-column: 3;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.375rem;
  height: 1.313rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--link-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.125rem;
    width: 1.125rem;
    left: 0.125rem;
    bottom: 0.125rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #797777;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #797777;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 6.25rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* ekstra */

.showing {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.showing h2 {
  display: inline-block;
  margin-right: 10px;
}
.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
article {
  margin: 16px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}
img {
  width: 100%;
  border-radius: 5px;
}

i {
  color: var(--star-color);
  width:0.75rem; 
  height:0.75rem; 
  margin-right:0.25rem; 
  margin-top: 0.094rem;
  margin-bottom: 0.094rem;
}

i.fa-clock{
  color: var(--black-color);
}

button {
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid var(--link-color);
  background-color: var(--white-color);
  color: var(--link-color);
  border-radius: 100px;
}

.genre {
  color: var(--genre_font-color);
  background-color: var(--genre-color)
}

.genres-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.genre-tag {
  background-color: #f0f0f0;
  border-radius: 100px;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

.runtime {
  color: var(--black-color)
}

  /*footer */

  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer__menu-icon1, .footer__menu-icon2, .footer__menu-icon3  {
    width: 2em;
  }

  .footer__menu-icon1 {
    grid-column: 1; 
  }

  .footer__menu-icon2 {
    grid-column: 2;  
  }

  .footer__menu-icon3 {
    grid-column: 3; 
  }